@charset "UTF-8";

// My theme's config settings.
$su-image-path: '~decanter/core/src/img';
$fa-font-path:  '~@fortawesome/fontawesome-free/webfonts';

// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

// Import SDSS utilities
@import '../utilities/index';

// Full width styles for one-column layout
.layout--layout-paragraphs-one-column {
  // All paragraphs except banner, news spotlight, wysiwyg, and news list card
  .ptype-stanford-lists,
  .ptype-stanford-gallery,
  .ptype-stanford-card,
  .ptype-stanford-media-caption,
  .ptype-stanford-entity {
    background-color: lime;
  }
}


