@charset "UTF-8";

.su-page-banner {
    .su-card {
        border: none;
        background: linear-gradient(to top, #585755, #585755);
        opacity: 0.9;
    }

    .su-card__contents {
        color: $su-color-white;

        .su-link,
        .su-link,
        .su-link,
        a {
            color: $su-color-white;
            font-weight: $su-font-semi-bold;
            text-decoration: underline;

            &::after {
                background-color: $su-color-white;
            }

            &:active,
            &:focus,
            &:hover {
                color: $su-color-white;
                font-weight: $su-font-regular;
                text-decoration: none;

                &::after {
                    background-color: $su-color-white;
                }
            }
        }
    }
}