@charset "UTF-8";

// Override Navigation Sign Up Link styles

.su-multi-menu .su-multi-menu__menu-lv1 {
    li.su-multi-menu__item > a[href="/sign"],
    li.su-multi-menu__item--active-trail.su-multi-menu__item--current > a[href="/sign"] {
        background: $su-color-digital-red;
        color: $su-color-white;
        @include modular-spacing('padding-right', 1);
        @include modular-spacing('padding-left', 1);

        &:hover,
        &:focus {
            background: $su-color-black;
            color: $su-color-white;
            text-decoration: underline;
        }
    }
}

