@charset "UTF-8";

// Section background colors and component changes
// Section classes:
// .sccr-section-color--default
// .sccr-section-color--light-grey
// .sccr-section-pb-none

.sccr-section-color--light-grey {
    @include responsive-spacing('padding', 2);

    background-color: $su-color-foggy-light;
}

.sccr-section-color--card {
    @include flex-column(10 of 12);

    margin: 0 auto;

    > div {
        @include grid-media-max('lg') {
            padding: 0 20px;
        }
    }

    >.layout {
        @include responsive-spacing('padding-top', 2);
        @include responsive-spacing('padding-bottom', 2);

        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.10);
        border: 1px solid $su-color-black-10;
    }
}

